<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/createpost.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <form action="/createpost" method="POST">
            <input type="text" name="title"  id="title" placeholder="Titulo do Post">
            <input type="text" name="author" id="author" placeholder="Autor do Post">
            <textarea name="content" id="content" placeholder="Era uma vez..."></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>