<div class="header">
   <nav>
       <a href="/">Home</a>
       <a href="#">Tutoriais</a>
       <a href="#">Node Js</a>
       <a href="#">React Js</a>
       <a href="#">Vue Js</a>
   </nav>
</div>